In [5]:
a= 10
for i in range(1,a+5,2):
    print(i, end=",")

1,3,5,7,9,11,13,

In [10]:
n= 10
for i in range(n,1,-2):
    print(i)
    print("bye")
print("thank you")

10
bye
8
bye
6
bye
4
bye
2
bye
thank you

In [15]:
for x in range(2):
    for i in range(10,12):
        print("hello")
    print("bye")

hello
hello
bye
hello
hello
bye

In [18]:
import pandas as pd
l1=[11,12,13,14,15]
S1=pd.Series(l1,index=['a','b','c','d','e'])
print(S1*2)

a    22
b    24
c    26
d    28
e    30
dtype: int64

In [29]:
import pandas as pd
d1={'Name':["Amita","Gagan","Tushar"],
    "age":[23,25,27],"dept":["admin","sales","purchase"],
    "salary":[23000,45000,55000]}
df=pd.DataFrame(d1,index=['a','b','c'])
print(df[1:3])

     Name  age      dept  salary
b   Gagan   25     sales   45000
c  Tushar   27  purchase   55000

In [34]:
import pandas as pd
l1=[101,'tea',435,28]
l2=[102,'soap',235,23]
df=pd.DataFrame([l1,l2], columns=["pid",'pname','price',"qty"])
print(df)

   pid pname  price  qty
0  101   tea    435   28
1  102  soap    235   23

In [3]:
import pandas as pd
import numpy as np
na1=np.array([100,200,300,400])
na2=np.array([17.55,22.7,13.4,61.7])
na3=np.array([7,14,25,37])
df2=pd.DataFrame([na1,na2], columns=['price1','price2','price3','price4'])
print(df2)

   price1  price2  price3  price4
0  100.00   200.0   300.0   400.0
1   17.55    22.7    13.4    61.7

In [6]:
import pandas as pd
S1=pd.Series([34,36,46,35],index=['Arjun','Tiksha','Sheena','Rajendra'])
print(S1[::-1])

Rajendra    35
Sheena      46
Tiksha      36
Arjun       34
dtype: int64

In [2]:
import pandas as pd
ld = [{'pname':'brush','price':158,'discount':45},{'pname':'toothpaste','price':78,'discount':20},{'pname':'soap','price':74,'discount':15}]
d1=pd.DataFrame(ld,index=['401','402','403'])
d1.loc['404']=['tea',345,54]   # row is added
d3=d1.rename({'401':'pr401','402': 'pr402','403': 'pr403','404': 'pr404'},axis=0)
print(d3)

            pname  price  discount
pr401       brush    158        45
pr402  toothpaste     78        20
pr403        soap     74        15
pr404         tea    345        54

In [5]:
import pandas as pd
l1=[{'Ram': 19,'Tejas': 16,'Arvind':14,'Shagun':12,'Rajesh':17},{'Ram': 78,'Tejas': 89,'Arvind':90,'Shagun':68,'Rajesh':82},
    {'Ram': 18,'Tejas': 18,'Arvind':12,'Shagun':14,'Rajesh':19},{'Ram': 88,'Tejas': 79,'Arvind':93,'Shagun':60,'Rajesh':92}]
df3=pd.DataFrame(l1,index=['UT1','Term 1','UT2','Term 2'])
print(df3)

        Ram  Tejas  Arvind  Shagun  Rajesh
UT1      19     16      14      12      17
Term 1   78     89      90      68      82
UT2      18     18      12      14      19
Term 2   88     79      93      60      92

In [18]:
import pandas as pd
import numpy as np
data = np.array([42500,35500,25000,51000,42000])
s1 = pd.Series(data,index=['jan','feb','mar','apr','may'], name="expenditure1")
print(s1)

jan    42500
feb    35500
mar    25000
apr    51000
may    42000
Name: expenditure1, dtype: int32

In [21]:
import pandas as pd
import numpy as np
data = np.array([87500,45500,32000,66000,89000])
s2 = pd.Series(data,index=['jan','mar','apr','jun','jul'], name="expenditure2")
print(s2)

jan    87500
mar    45500
apr    32000
jun    66000
jul    89000
Name: expenditure2, dtype: int32

In [22]:
s3=s1+s2
print(s3.reindex(index=['jan','feb','mar','apr','may','jun','jul']))

jan    130000.0
feb         NaN
mar     70500.0
apr     83000.0
may         NaN
jun         NaN
jul         NaN
dtype: float64

In [24]:
print(s3[::-1])

may         NaN
mar     70500.0
jun         NaN
jul         NaN
jan    130000.0
feb         NaN
apr     83000.0
dtype: float64

In [25]:
l1=[{'Ram': 19,'Tejas': 16},{'Ram': 78,'Tejas': 89},{'Ram': 18,'Tejas': 18},{'Ram': 88,'Tejas': 79}]
df3=pd.DataFrame(l1,index=['UT1','Term 1','UT2','Term 2'])
print(df3)

        Ram  Tejas
UT1      19     16
Term 1   78     89
UT2      18     18
Term 2   88     79

In [6]:
x,y=5,7
if (x==y):
    print("x and y are equal")
elif (x<y):
    print("x is less than y")
else:
    print("y is less than x")

x is less than y